*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Colors:  */

/* #31393c
##4A85EE
#33a1fd
#fdca40
##FF5700  */

body{
  overflow-x: hidden;
 }

/* Header */
/* WhatsApp sticky btn */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
/* -----NavBar----- */

.navbar-bg{
background-color:#EFEFEF;
}
.text-navbar{
    font-size: 1rem;
    color: #4A85EE;
    text-decoration: none;
    font-weight:400;
    font-family:'gotham';
}
.text-navbar:hover{
  color: #FF5700;
}

.inscripciones-link{
  text-decoration: none;
}

.logo-iec{
  height: 80px;
  width: 80px;
  margin-left: 50px;

}

/* Button navbar */

.btn-1-1{
    background: #4A85EE;
    color: white;
    padding: 0.625rem;
    padding-left:2.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.5rem;
    width: 11em;
    padding-right: 1em;
    text-align: center;
    font-family: 'gotham';

  }
  .btn-1-1:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-1-1:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-1:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-1:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-1-link{
    text-decoration: none;
  }
  .btn-1-1-link{
    text-decoration: none;
  }
  
  .btn-1{
    background: #FF5700;
    color: white;
    padding: 0.625rem;
    padding-left:1.438rem;
    font-size:1rem;
    font-weight: bold;
    border-radius:1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.5rem;
    width: 11em;
    padding-right: 1em;
    text-align: center;
    font-family: 'gotham';
  }

  .background-2{
    background-color:#4A85EE;
    background-size: cover;
    margin-bottom:-1rem;
    padding-bottom: 10px;
}

.h1-bg{
  font-size: 1.25rem;
  font-weight: bold;
  font-family:'gotham';
  color: white;

}

  /* Banner */
  .banner{
    width: 100%;
    height: 600px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

/* Main */

/* Hero section */

section.hero{
    margin: 5rem 0;
}
.text-label, 
.text-hero-regular{
    margin:1.5rem 0;
}

.text-label{
    color:#4A85EE;
    font-size: 2.65rem;
    line-height: 2.813rem;
    font-style:italic;
    font-weight:bolder;
    font-family: 'gotham'
}
.text-hero-regular{
    color: #31393c;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    font-family:'fira sans';
}

.btn-hero{
  background: #FF5700;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius:1.25rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 3rem;
  width: 15em;
  font-family: 'gotham';
}
.btn-hero:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #31393c;
}

.btn-hero:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #31393c;
}
.btn-hero-link{
  text-decoration: none;
}

/* Qué ofrecemos */
.offer-sec{
margin-right:0;
}
.offer-h2 {
    position: relative;
    margin-bottom: 2.188rem;
    font-size:40px;
    font-family: 'gotham';
    font-weight: bold;
    color: #4A85EE;
}
.offer-h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0 auto;
}

.offer-img{
  height: 500px;
  width: 300px;
  margin-top:50px;
}

.offer-img-2{
  margin-top: 100px;
}
.ingles{
  margin-bottom: 35px;
}


.btn-offer{
  background: #FF5700;
  color: white;
  padding: 0.625rem;
  padding-left:1.438rem;
  font-size:1rem;
  font-weight: bold;
  border-radius:1.25rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  height: 30px;
  width: 150px;
  padding-right: 1em;
  text-align: center;
  font-family: 'gotham';
  margin-top: 30px;
  margin-bottom: 50px;
}
.btn-offer-link{
  text-decoration: none;
}
.btn-offer:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em #31393c;
}

.btn-offer:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #31393c;
}



/* ---Por qué elegirnos Cards---*/
.elegirnos-sec{
  margin-right: 0;
  margin-left: 0;
}

.por-que-h2 {
  position: relative;
  margin-bottom: 2.188rem;
  font-size:40px;
  font-family: 'gotham';
  font-weight: bold;
  color: #4A85EE;
}
.por-que-h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #FFC107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin-bottom: 100px;
  margin: 0 auto;
}
.por-que-h3{
    font-size: 1.25rem;
    color: #4A85EE;
    font-family: 'fira sans';
    font-weight: 600;
}
.por-que-body{
    font-size: 17px;
    font-weight:400;
    font-family: 'fira sans';
}
.card-body{
  height: 250px;
}

.por-que-body-ul-li{
  list-style: none;
}
.offer-img{
  height: 50px;
  width:50px;
}

/* Preuniversitarios */
.background-pre{
  background-color: #4A85EE;
}
.pre-title-h2 {
  position: relative;
  margin-bottom: 2.188rem;
  font-size:40px;
  font-family: 'gotham';
  font-weight: bold;
  color:white;
}
.pre-title-h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #FFC107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin: 0 auto;
}
.pre-text{
  font-family: 'fira sans';
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
.card-pre{
  height: 400px;
}
.btn-pre{
  background: #FF5700;
    color: white;
    font-size:1rem;
    font-weight: bold;
    border-radius:1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.5rem;
    width: 12em;
    text-align: center;
    font-family: 'gotham';
    position: absolute;
    margin-left: 60px;
    bottom: 15px;
  }
  .btn-pre:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-pre:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-pre-link{
    text-decoration: none;
  }



  /* Clases de apoyo */
  .clases-apoyo-h2 {
  position: relative;
  margin-bottom: 2.188rem;
  font-size:40px;
  font-family: 'gotham';
  font-weight: bold;
  color: white;
}
.clases-apoyo-h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #FFC107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin-bottom: 100px;
  margin: 0 auto;
}

  .card-apoyo-body{
    height:200px;
  }

.btn-apoyo{
    background: #FF5700;
    color: white;
    font-size:1rem;
    font-weight: bold;
    border-radius:1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 2.5rem;
    width: 12em;
    text-align: center;
    font-family: 'gotham';
    bottom: -5px;
    position: relative;
    margin-left: 20px;
  }
  .btn-apoyo:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-apoyo:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-apoyo-link{
    text-decoration: none;
  }
.img-cards{
  height: 270px;
}
.apoyo-sub{
  font-family: 'gotham';
  font-size: 20px;
  font-weight: 500;
  color: #31393c;
}
.apoyo-body{
  font-family: 'fira sans';
  font-size: 17px;
  color: #4A85EE;
  font-weight: 600;
}
  /* Cursos para docentes */
  .cursos-docentes-h2 {
    position: relative;
    margin-bottom: 2.188rem;
    font-size:40px;
    font-family: 'gotham';
    font-weight: bold;
    color: white;
  }
  .cursos-docentes-h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin-bottom: 100px;
    margin: 0 auto;
  }
  .btn-cursos-docentes{
    background: #FF5700;
    color: white;
    font-size:1rem;
    font-weight: bold;
    border-radius:1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    height: 2rem;
    width: 12em;
    text-align: center;
    font-family: 'gotham';
    position: absolute;
    margin-left: 60px;
    bottom: 15px;

  }
  .btn-cursos-docentes:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-cursos-docentes:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-cursos-docentes-link{
    text-decoration: none;
  }
  .img-cards-curso{
    height: 400px;
  }
  /* Talleres */
  .btn-taller{
    background: #FF5700;
    color: white;
    font-size:1rem;
    font-weight: bold;
    border-radius:1.25rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 2rem;
    width: 12em;
    text-align: center;
    font-family: 'gotham';
    position: absolute;
    margin-left: 60px;
    bottom: 15px;
  }
  .btn-taller:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #31393c;
  }
  
  .btn-taller:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #31393c;
  }
  .btn-taller-link{
    text-decoration: none;
  }
  

/* Contact us */
.contact-h2 {
  position: relative;
  margin-bottom: 2.188rem;
  font-size:40px;
  font-family: 'gotham';
  font-weight: bold;
  color:#4A85EE;
}
.contact-h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #FFC107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin-bottom: 100px;
  margin: 0 auto;
}

.img-contact{
  height: 400px;
  width: 300px;
}
.iframe{
  width: 500px;
  height: 600px;
}

.text-contact-title{
color:#4A85EE;
font-size: 2.813rem;
font-weight: bold;
font-family: 'gotham';
padding-bottom: 6.25rem;

}


.contact-info-icons{
height:1.563rem;
width:1.563rem;
}


/* FAQ */
.faq-h2{
  font-size:2.813rem;
  font-family: 'fira sans';
  font-weight: bold;
  color: #4A85EE;
}

.faq-text-title{
  font-size: 1.25rem;
  font-family: 'fira sans';
  font-weight: bold;
  color: #31393c;
}
.faq-text-body{
  font-size: 1.063;
  font-family: 'fira sans';
  font-weight: 400;
  color: #31393c;
}

/* Footer */

.bg-footer{
  background-color: #4A85EE;
  color: white;
  font-family: 'fira sans';
  font-weight: 400;

}

.footer-footer{
  margin-top:-78px;
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-footer {
  font-size: 0.875rem;
  color: #4A85EE;
  text-decoration: none;
  font-family: 'gotham';
  font-weight: 500;
}

.logo-footer{
  height: 150px;
  width: 150px;
}


/* Social media */
.social-footer{
  height: 1.875rem;
  width: 1.875rem;
}
.footer-social-link{
  text-decoration: none;
}
  /* About us */

  .about-h2 {
    position: relative;
    margin-bottom: 2.188rem;
    font-size:40px;
    font-family: 'gotham';
    font-weight: bold;
    color:#4A85EE;
  }
  .about-h2::after {
    content: "";
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #FFC107;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin-bottom: 100px;
    margin: 0 auto;
  }


  .img-about{
    width: 25rem;
    margin-bottom: 50px;
    
  }

  .div-pic{
   margin-top: 3.125rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

.text-about{
color: #31393c;
font-size: 1.25rem;
font-family: 'fira sans';
margin-bottom: 50px;
}

.card-about-sub{
  font-size: 30px;
  font-family: 'gotham';
  font-weight: 500;
}

.card-about-body{
  font-size: 17px;
  font-family: 'fira sans';
  font-weight: lighter;
}
.card-about1{
  background-color: #4A85EE;
  height: 200px;
}
.card-about2{
  background-color: white;
  border: 1px solid #FF5700;
  height: 200px;
}
.firma{
  height: 50px;
  width: 180px;
}

/* Profesores */
.profesores-h2 {
  position: relative;
  margin-bottom: 2.188rem;
  margin-top: 80px;
  font-size:40px;
  font-family: 'gotham';
  font-weight: bold;
  color:#4A85EE;
}
.profesores-h2::after {
  content: "";
  width: 120px;
  height: 3px;
  display: inline-block;
  background: #FFC107;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -20px;
  margin-bottom: 100px;
  margin: 0 auto;
}
.profesores-descrip-h3{
  font-family: 'gotham';
  font-size: 20px;
  color: #31393c;
}
.profesores-descrip-article{
  font-family: 'fira sans';
  font-size: 17px;
}
.profesores-descrip-h4{
  font-family: 'fira sans';
  font-size: 14px;
}

/* Media queries */

/* ---2560×1440---- */
@media only screen and(max-width:2460px){
   /* Banner */
   .banner{
    height: 800px;
}
.container{
 

}
}
/* ----1920×1080---- */

/* ----1600×900---- */
@media only screen and(max-width:1600px){
  .background-2{
    padding-bottom: 10px;
  }
}

/* ----1536×864---- */
  @media only screen and(max-width:1536px){
    .background-2{
      padding-bottom: 10px;
    }
  }

/* ----1366×768---- */
@media only screen and(max-width:1366px){
  /* --Preuniversitarios-- */
  .btn-pre{
    margin-left: 70px;
  }
  /* -- Clases de apoyo-- */
  .btn-apoyo{
    margin-left: 25px;
  }
  /* --Cursos-- */
  .btn-cursos-docentes{
    margin-left: 70px;
  }
  .img-cards-curso{
    height: 400px;
  }
  /* --Talleres-- */
  .btn-taller{
    margin-left: 70px;
  }}
  /* --Contacto-- */
  /* .iframe{
    width: 500px;
    height: 1000px;
  }
  /* ----1280×720---- */
  @media(max-width:1280px){
    /* --Qué ofrecemos-- */
    .btn-offer{
      padding-bottom:20px;
      padding-top:20px;
    }
    /* --Contacto-- */
    /* .iframe{
      width: 500px;
    } */
  }
  /* ----1125x2436----- */
    @media(max-width:1125px){
      
      /* Por qué elegirnos */
      .card-body{
        height: 300px;
      }
      /* Preuniversitarios */
      .
      .btn-pre{
        margin-left: 40px;
      }
      /* --Clases apoyo-- */
      .btn-apoyo{
        width: 170px;
        margin-left: 10px;
      }
      /* --Cursos-- */
      .btn-cursos-docentes{
        margin-left: 40px;
      }
      /* --Talleres-- */
      .btn-taller{
        margin-left: 40px;
      }
    }
    /* -----1080---- */
    @media(max-width:1080px){
      /* --Preuniv-- */
      .btn-pre{
        margin-left:40px;
      }
      /* --About-- */
      .card-about1,.card-about2{
        height: 230px;
      }
    }

  /* ----1024x1366---- */
 /* ----980px---- */
 @media(max-width:980px){
  /* --Banner-- */
  .banner{
    height: 400px;
  }

  /* --Que ofrecemos-- */
  .btn-offer{
    margin-top: 2px;
  }
  .btn-orientacion{
    margin-top: -20px;
  }
  .btn-ingles{
    margin-top: 30px;
  }
  /* --Por que elegirnos-- */
  .card-body{
    height: 350px;
  }
  /* --Preuniversitarios-- */
  .card-pre-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
  }
  .btn-pre{
    margin-left: 50px;
  }
  /* --Clases de apoyo-- */
  .btn-apoyo{
    margin-left: 50px;
    bottom: 15px;
    position: absolute;
  }
  .img-cards{
    height: 500px;
  }
  /* --Contacto-- */
  .iframe{
    width: 300px;
    margin-bottom: 10px;
  }
  .card-about1, .card-about2{
    height: 230px;
  }
 }
 /* ----810×1080---- */
 /* ----768px---- */
 @media(max-width: 768px) {
  .background-2{
    padding-bottom: 10px;
  }
 }
 /* ----720px---- */
 @media(max-width:720px){
  .h1-bg{
    font-size:1rem;
  }
  .banner{
    height: 300px;
  }
  section.hero{
    margin: 3rem 0;
  }
  .text-label{
    font-size: 2rem;
  }
  .text-hero-regular{
    font-size: 1rem;
  }
  .btn-hero{
    display: flex;
    order: 2;
    height: 2rem;
    width: 13rem;
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 1rem;
  }
  .img-hero{
    display: flex;
    order: 1;
  }
  
  .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .faq-h2, .contact-h2 {
    font-size: 30px;
  }
  .div-offer{
    margin-left: 50px;
  }
  .card-pre{
    height: 390px;
    width: 600px;
    left: 50px;
  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 165px;
    width: 325px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 50px;
  }
  .btn-apoyo{
    margin-left: 60px;
  }
  
  .card-body-porque{
    height: 230px;
  }
  .por-que-h3, .faq-text-title{
    font-size: 1rem;
  }
  .por-que-body{
    font-size:14px;
      }
  .img-contact{
    height: 450px;
    width: 350px;
  }
  .iframe{
    width: 400px;
    margin-top:50px;
  }
  .img-about{
    width: 12rem;
    margin-top: -5px;
  }
  .about-h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-about{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .card-about-sub{
    font-size: 1rem;
  }
  .card-about1, .card-about2{
    height: 170px;
  }
  .profesores-h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .img-about-cards{
    height: 160px;
    width: 160px;
  }
  .profesores-descrip-article, .profesores-descrip-h3{
    font-size: 16px;
 }}

 /* ----414px---- */
 @media(max-width:414px){
  .h1-bg{
    font-size:1rem;
  }
  .banner{
    height: 300px;
  }
  section.hero{
    margin: 3rem 0;
  }
  .text-label{
    font-size: 2rem;
  }
  .text-hero-regular{
    font-size: 1rem;
  }
  .btn-hero{
    display: flex;
    order: 2;
    height: 2rem;
    width: 13rem;
    margin-bottom: 50px;
    margin-left: 85px;
    font-size: 1rem;
  }
  .img-hero{
    display: flex;
    order: 1;
  }
  
  .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .faq-h2, .contact-h2 {
    font-size: 30px;
  }
  .div-offer{
    margin-left: 50px;
  }
  .card-pre, .card-apoyo-body{
    height: 350px;
    width: 240px;
    margin-left: 45px;
  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 150px;
    width: 240px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 10px;
  }
  
  .btn-apoyo{
    margin-left: 15px;
  }
  .card-body-porque{
    height: 230px;
  }
  .por-que-h3, .faq-text-title{
    font-size: 1rem;
  }
  .por-que-body{
    font-size:14px;
      }
  .img-contact{
    height: 350px;
    width: 250px;
  }
  .iframe{
    width: 250px;
  }
  .img-about{
    width: 12rem;
    margin-top: -5px;
  }
  .about-h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-about{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .card-about-sub{
    font-size: 1rem;
  }
  .card-about1, .card-about2{
    height: 170px;
  }
  .profesores-h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .img-about-cards{
    height: 160px;
    width: 160px;
    margin-left: 47px;
  }
  .profesores-descrip-article, .profesores-descrip-h3{
    font-size: 16px;
 }}
 /* ----412---- */
 @media (max-width:412px){
  .h1-bg{
    font-size:1rem;
  }
  .banner{
    height: 300px;
  }
  section.hero{
    margin: 3rem 0;
  }
  .text-label{
    font-size: 2rem;
  }
  .text-hero-regular{
    font-size: 1rem;
  }
  .btn-hero{
    display: flex;
    order: 2;
    height: 2rem;
    width: 13rem;
    margin-bottom: 5px;
    margin-left: 85px;
    font-size: 1rem;
  }
  .img-hero{
    display: flex;
    margin-top: 20px;
    order: 1;
  }
  
  .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .faq-h2, .contact-h2 {
    font-size: 30px;
  }
  .div-offer{
    margin-left: 70px;
  }
  .card-pre{
    height: 350px;
    width: 240px;
    margin-left: 45px;

  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 150px;
    width: 240px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 10px;
  }
  
  .btn-apoyo{
    margin-left: 15px;
  }
  .card-body-porque{
    height: 230px;
  }
  .por-que-h3, .faq-text-title{
    font-size: 1rem;
  }
  .por-que-body{
    font-size:14px;
      }
  .img-contact{
    height: 350px;
    width: 300px;
    margin-left: 70px;
  }
  .iframe{
    width: 250px;
    margin-left: 70px;
  }
  .img-about{
    width: 12rem;
    margin-top: -5px;
  }
  .about-h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-about{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .card-about-sub{
    font-size: 1rem;
  }
  .card-about1, .card-about2{
    height: 170px;
  }
  .profesores-h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .img-about-cards{
    height: 160px;
    width: 160px;
    margin-left: 47px;
  }
  .profesores-descrip-article, .profesores-descrip-h3{
    font-size: 16px;
 }}
 
 /* ----390---- */
 @media(max-width:390px){
  .h1-bg{
    font-size:1rem;
  }
  .banner{
    height: 300px;
  }
  section.hero{
    margin: 3rem 0;
  }
  .text-label{
    font-size: 2rem;
  }
  .text-hero-regular{
    font-size: 1rem;
  }
  .btn-hero{
    display: flex;
    order: 2;
    height: 2rem;
    width: 13rem;
    margin-bottom: 50px;
    margin-left: 85px;
    font-size: 1rem;
  }
  .img-hero{
    display: flex;
    order: 1;
  }
  
  .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .faq-h2, .contact-h2 {
    font-size: 30px;
  }
  .div-offer{
    margin-left: 70px;
  }
  .card-pre{
    height: 350px;
    width: 240px;
    margin-left: 10px;

  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 150px;
    width: 240px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 10px;
  }
  
  .btn-apoyo{
    margin-left: 15px;
  }
  .card-body-porque{
    height: 230px;
  }
  .por-que-h3, .faq-text-title{
    font-size: 1rem;
  }
  .por-que-body{
    font-size:14px;
      }
  .img-contact{
    height: 350px;
    width: 250px;
    margin-left: 50px;
  }
  .iframe{
    width: 250px;
    margin-left: 50px;
  }
  .img-about{
    width: 12rem;
    margin-top: -5px;
  }
  .about-h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-about{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .card-about-sub{
    font-size: 1rem;
  }
  .card-about1, .card-about2{
    height: 170px;
  }
  .profesores-h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .img-about-cards{
    height: 160px;
    width: 160px;
    margin-left: 47px;
  }
  .profesores-descrip-article, .profesores-descrip-h3{
    font-size: 16px;
 }}
 /* ----384---- */
 @media(max-width: 384px){
  .h1-bg{
    font-size:1rem;
  }
  .banner{
    height: 200px;
  }
  section.hero{
    margin: 3rem 0;
  }
  .text-label{
    font-size: 2rem;
  }
  .text-hero-regular{
    font-size: 1rem;
  }
  .btn-hero{
    display: flex;
    order: 2;
    height: 2rem;
    width: 13rem;
    margin-bottom: 50px;
    margin-left: 45px;
    font-size: 1rem;
  }
  .img-hero{
    display: flex;
    order: 1;
  }
  .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .contact-h2 {
    font-size: 30px;
  }
  .faq-h2{
    font-size: 30px;
  }
  .div-offer{
    margin-left: 40px;
  }
  .btn-offer{
    margin-top: 30px;
  }

  .offer-img-2{
    margin-top:40px;
  }
  .card-pre{
    height: 350px;
    width: 240px;
    margin-left: -20px;
  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 150px;
    width: 240px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 10px;
  }
  
  .btn-apoyo{
    margin-left: 15px;
  }
  .card-body-porque{
    height: 230px;
  }
  .por-que-h3, .faq-text-title{
    font-size: 1rem;
  }
  .por-que-body{
    font-size:14px;
      }
  .img-contact{
    height: 300px;
    width: 210px;
    margin-bottom: 50px;
  }
  .iframe{
    width: 250px;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  .img-about{
    width: 12rem;
    margin-top: -5px;
  }
  .about-h2{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .text-about{
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .card-about-sub{
    font-size: 1rem;
  }
  .card-about1, .card-about2{
    height: 170px;
  }
  .profesores-h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .img-about-cards{
    height: 160px;
    width: 160px;
    margin-left: 47px;
  }
  .profesores-descrip-article, .profesores-descrip-h3{
    font-size: 16px;
  }
 }
 /* ----380---- */
 @media (max-width: 380px){
  .card-pre{
    height: 350px;
    width: 270px;
    left: 60px;
  }
  .img-pre, .img-clases, .img-cursos, .img-taller{
    height: 150px;
    width: 268px;
  }
  .btn-pre, .btn-cursos-docentes, .btn-taller{
    margin-left: 20px;
  }
  
  .btn-apoyo{
    margin-left: 30px;
  }
 }
 /* ----375px---- */
  /* ----360---- */
  @media(max-width: 360px){
    .h1-bg{
      font-size:1rem;
    }
    .banner{
      height: 200px;
    }
    section.hero{
      margin: 3rem 0;
    }
    .text-label{
      font-size: 2rem;
    }
    .text-hero-regular{
      font-size: 1rem;
    }
    .btn-hero{
      display: flex;
      order: 2;
      height: 2rem;
      width: 13rem;
      margin-bottom: 50px;
      margin-left: 65px;
      font-size: 1rem;

    }
    .img-hero{
      display: flex;
      order: 1;
    }
    .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .contact-h2 {
      font-size: 30px;
    }
    .faq-h2{
      font-size: 30px;
    }
    .div-offer{
      margin-left: 40px;
    }
    .offer-img-2{
      margin-top:40px;
    }
    .card-pre, .card-apoyo-body{
      height: 350px;
      width: 240px;
      margin-left: 5px;
    }
    .img-pre, .img-clases, .img-cursos, .img-taller{
      height: 150px;
      width: 240px;
    }
    .btn-pre, .btn-cursos-docentes, .btn-taller{
      margin-left: 10px;
    }
    
    .btn-apoyo{
      margin-left: 15px;
    }
    .card-body-porque{
      height: 230px;
    }
    .por-que-h3, .faq-text-title{
      font-size: 1rem;
    }
    .por-que-body{
      font-size:14px;
        }
    .img-contact{
      height: 300px;
      width: 210px;
      margin-bottom: 50px;
    }
    .iframe{
      width: 250px;
      height: 100px;
      margin-bottom: 50px;
      margin-top: 10px;
    }
    .img-about{
      width: 12rem;
      margin-top: -5px;
    }
    .about-h2{
      font-size: 30px;
      margin-bottom: 10px;
    }
    .text-about{
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .card-about-sub{
      font-size: 1rem;
    }
    .card-about1, .card-about2{
      height: 170px;
    }
    .profesores-h2{
      font-size: 30px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .img-about-cards{
      height: 160px;
      width: 160px;
      margin-left: 47px;
    }
    .profesores-descrip-article, .profesores-descrip-h3{
      font-size: 16px;
    }
  }
  /* ----326---- */

  /* ----325---- */
  @media(max-width:325px){
    .card-pre{
      height: 350px;
      width: 270px;
      left: 10px;
    }
    .img-pre, .img-clases, .img-cursos, .img-taller{
      height: 150px;
      width: 268px;
    }
    .btn-pre, .btn-cursos-docentes, .btn-taller{
      margin-left: 20px;
    }
    .btn-apoyo{
      margin:25px;
    }
    .iframe{
      margin-left: 20px;
    }
  }
  /* ----320---- */
  @media(max-width:320px){
    .h1-bg{
      font-size:1rem;
    }
    .banner{
      height: 200px;
    }
    section.hero{
      margin: 3rem 0;
    }
    .text-label{
      font-size: 2rem;
    }
    .text-hero-regular{
      font-size: 1rem;
    }
    .btn-hero{
      display: flex;
      order: 2;
      height: 2rem;
      width: 13rem;
      margin-bottom: 50px;
      margin-left: 45px;
      font-size: 1rem;
    }
    .img-hero{
      display: flex;
      order: 1;
    }
    .offer-h2, .clases-apoyo-h2, .por-que-h2, .pre-title-h2,.cursos-docentes-h2, .contact-h2 {
      font-size: 30px;
    }
    .faq-h2{
      font-size: 30px;
    }
    .div-offer{
      margin-left: 40px;
    }
    .btn-offer{
      margin-top: 20px;
    }

    .offer-img-2{
      margin-top:40px;
    }
    .card-pre{
      height: 350px;
      width: 270px;
      left: 10px;
    }
    .img-pre, .img-clases, .img-cursos, .img-taller{
      height: 150px;
      width: 268px;
    }
    .btn-pre, .btn-cursos-docentes, .btn-taller{
      margin-left: 10px;
    }
    
    .btn-apoyo{
      margin-left: 15px;
    }
    .card-body-porque{
      height: 230px;
    }
    .por-que-h3, .faq-text-title{
      font-size: 1rem;
    }
    .por-que-body{
      font-size:14px;
        }
    .img-contact{
      height: 300px;
      width: 210px;
      margin-bottom: 50px;
    }
    .iframe{
      width: 250px;
      height: 100px;
      margin-bottom: 50px;
      margin-top: 10px;
    }
    .img-about{
      width: 12rem;
      margin-top: -5px;
    }
    .about-h2{
      font-size: 30px;
      margin-bottom: 10px;
    }
    .text-about{
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .card-about-sub{
      font-size: 1rem;
    }
    .card-about1, .card-about2{
      height: 170px;
    }
    .profesores-h2{
      font-size: 30px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    .img-about-cards{
      height: 160px;
      width: 160px;
      margin-left: 47px;
    }
    .profesores-descrip-article, .profesores-descrip-h3{
      font-size: 16px;
    }
  }












